<% layout('/layouts/boilerplate') %>


<div class="row">
    <h2>
        <h5 class="card-title">Prodaje iz radnje <%= store.name%></h5>
    </h2>
    <div class="col-12">
        <ul class="list-group">
            <% for(let sale of sales){ %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/stores/<%= store._id %>/sales/<%= sale._id %>">Prodaja ID: <%= sale._id %></a>
                <p><%= sale.date.getHours() %>:<%= sale.date.getMinutes() %>

                    <%= sale.date.getDate() %> <%= sale.date.toLocaleString('default', { month: 'long' }); %>
                    <%= sale.date.getFullYear() %>
                </p>
                <span class="badge bg-primary rounded-pill">Prodao: <%= sale.author.username %> </span>
            </li>
            <% } %>
        </ul>
    </div>
</div>