<% layout('/layouts/boilerplate') %>

<h1 class="mb-3 mt-3">Skladišta</h1>
<% for(let store of stores){ %>
<% if(store.storeType==='warehouse'){ %>
<div class='card mb-3'>
    <div class="row">
        <div class="col-md-4">
            <% if(store.images.length) {%>
            <img class="img-fluid" src="<%= store.images[0].url %>">
            <% } else { %>
            <img class="img-fluid" src="https://res.cloudinary.com/nedimajdin/image/upload/v1605179508/sample.jpg"
                alt="">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class='card-body'>
                <h5 class="card-title"><%= store.name %></h5>
                <p class="card-text"><%= store.location %></p>
                <p class="card-text">
                    <small class="text-muted"><%= store.location %></small>
                </p>
                <a href="/stores/<%= store._id %>" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>
<% }} %>

<h1 class="mb-3 mt-3">Radnje</h1>

<% for(let store of stores){ %>
<% if(store.storeType==='store'){ %>

<div class='card mb-3'>
    <div class="row">
        <div class="col-md-4">
            <% if(store.images.length) {%>
            <img class="img-fluid" src="<%= store.images[0].url %>">
            <% } else { %>
            <img class="img-fluid" src="https://res.cloudinary.com/nedimajdin/image/upload/v1605179508/sample.jpg"
                alt="">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class='card-body'>
                <h5 class="card-title"><%= store.name %></h5>
                <p class="card-text"><%= store.location %></p>
                <p class="card-text">
                    <small class="text-muted"><%= store.location %></small>
                </p>
                <a href="/stores/<%= store._id %>" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>
<% }} %>

<% if(currentUser.isAdmin){%>
<a href="/stores/new">Dodaj novu radnju</a>
<% } %>