<% layout('/layouts/boilerplate') %>

<div class="row">
    <h3 class="text-center">Dodaj proizvod na <%= store.name %></h3>
    <div class="col-md-6 offset-md-3">

        <form action="/stores/<%= store._id %>/addproducts?_method=PUT" method="POST" novalidate class="validated-form">

            <% for(let product of products){ %>
            <div class="mb-3 form-group row">
                <label for="colFormLabel" class="col-sm-4 col-form-label"
                    for="qty-<%= product._id%>"><%= product.name %></label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="qty-<%= product._id%>" placeholder="Unesi kolicinu"
                        name="product[<%= product._id %>]">
                </div>
            </div>
            <% } %>

            <div class="mb-3">
                <button class="btn btn-success">Dodaj proizvode</button>
            </div>
        </form>

        <a href="/stores/<%= store._id %>">Vrati se na radnju</a>
    </div>
</div>