<% layout('/layouts/boilerplate') %>

<% let total = 0; %>
<div class="row">

    <h5 class="card-title">Prodaja <%= sale._id %> iz radnje <%= store.name%></h5>

    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p>Prodaja ID: <%= sale._id %></p>
                <p><%= sale.date.getHours() %>:<%= sale.date.getMinutes() %>
                    <%= sale.date.getDate() %> <%= sale.date.toLocaleString('default', { month: 'long' }); %>
                    <%= sale.date.getFullYear() %>
                </p>
                <span class="badge bg-primary rounded-pill">Prodao: <%= sale.author.username %> </span>
            </li>
        </ul>
    </div>
    <h3 class="mt-5">Prodani proizvodi:</h3>
    <% for(let item of sale.products){ %>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/products/<%= item.productId._id %>"><%= item.productId.name %> </a>
            <p>Količina: <%= item.quantity %></p>
            <p>Ukupna cijena:
                <%= parseInt(item.productId.price)*parseInt(item.quantity) %>KM </p>
            <% total = total + parseInt(item.productId.price)*parseInt(item.quantity); %>
        </li>
    </ul>
    <% } %>
    <h4 class=" mb-3 mt-3">Ukupna cijena: <%= total %>KM</h4>

    <div class="card" class="col-12 mb-3 mt-3">
        <div class="card-body">
            <h5 class="card-title">Napomena</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ovo je radnik napisao: </h6>
            <p class="card-text"><%= sale.napomena %></p>

        </div>
    </div>
    <a class="mb-5 mt-5" href="/stores/<%= store._id %>/sales">Vrati se na prodaje iz radnje <%= store.name%></a>

</div>