<% layout('/layouts/boilerplate') %>

<% let total = 0; %>
<div class="row">

    <h5 class="card-title">Transfer <%= transfer._id %> iz radnje <%= store.name%>
        u radnju <%= transfer.storeTo.name%>
    </h5>

    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p class="mr-3">Podaci: </p>
                <p class="mr-3">
                    <%= transfer.date.getHours()<10? '0':'' %><%= transfer.date.getHours() %>:<%= transfer.date.getMinutes()<10? '0':'' %><%= transfer.date.getMinutes() %>
                    <%= transfer.date.getDate() %> <%= transfer.date.toLocaleString('default', { month: 'long' }); %>
                    <%= transfer.date.getFullYear() %>
                </p>
                <p class="ml-3">Izvršio: <%= transfer.author.username %> </p>
            </li>
        </ul>
    </div>
    <h3 class="mt-5">Poslani proizvodi:</h3>
    <% for(let item of transfer.products){ %>
    <% if(item.productId !== null){ %>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="mr-3" href="/products/<%= item.productId._id %>"><%= item.productId.name %> </a>
            <p class="mr-3">Količina: <%= item.quantity %></p>
            <p class="ml-3">Ukupna cijena:
                <%= parseInt(item.productId.price)*parseInt(item.quantity) %> </p>
            <% total = total + parseInt(item.productId.price)*parseInt(item.quantity); %>
        </li>
    </ul>
    <% } else { %>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href=""> Izbrisani proizvod </a>
            <p>Ovaj proizvod je izbrisan u bazi podataka </p>
        </li>
    </ul>
    <% }} %>
    <h4 class="mb-3 mt-3">Ukupna cijena pošiljke: <%= total %>KM</h4>

    <div class="card" class="col-12 mb-3 mt-3">
        <div class="card-body">
            <h5 class="card-title">Napomena</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ovo je radnik napisao: </h6>
            <p class="card-text"><%= transfer.napomena %></p>

        </div>
    </div>

    <a class="mb-5 mt-5" href="/stores/<%= store._id %>/transfers">Vrati se na transfere iz radnje <%= store.name%></a>

</div>