<% layout('/layouts/boilerplate') %>


<div class="row mb-3">
    <h2>
        <h5 class="card-title">Transferi iz <%= store.name%></h5>
    </h2>
    <div class="col-12">
        <ul class="list-group">
            <% for(let transfer of transfers){ %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/stores/<%= store._id %>/transfers/<%= transfer._id %>">Vidi transfer</a>
                <p>Vrijeme:
                    <%= transfer.date.getHours()<10? '0':'' %><%= transfer.date.getHours() %>:<%= transfer.date.getMinutes()<10? '0':'' %><%= transfer.date.getMinutes() %>

                    <%= transfer.date.getDate() %> <%= transfer.date.toLocaleString('default', { month: 'long' }); %>
                    <%= transfer.date.getFullYear() %>
                </p>
                <p>Prebačeno u <%= transfer.storeTo.name %></p>
                <span class="badge bg-primary rounded-pill">Izvrsio: <%= transfer.author.username %> </span>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<a href="/stores/<%= store._id %>" class="mb-3 mt-3">Vrati se na skladište</a>