<% layout('/layouts/boilerplate') %>

<div class="row">
    <div class="col-12">
        <h4>Prodaje za prošlih 7 dana u mjesecu
            <%= date.toLocaleString('default', { month: 'long' }); %> </h4>
        <% for(let i=0; i<7; i++){ 
            let totalDan = 0;
            %>
        <% if(date.getDate()-i>0){ %>
        <h4 class="mt-4 mb-4">Prodaje na dan <%= date.getDate()-i %>.
            <%= date.toLocaleString('default', { month: 'long' }); %> </h4>
        <ul class="list-group">
            <% for(let sale of sales.reverse()){ %>
            <% if(sale.date.getFullYear() === date.getFullYear()
                && sale.date.getMonth() === date.getMonth()
                && sale.date.getDate() === date.getDate()-i
                ){ %>
            <% 
                    let total = 0;
                    for(let item of sale.products){
                        total = total + parseInt(item.price)*parseInt(item.quantity);
                    };
                    %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p>Vrijeme:
                    <%= sale.date.getHours()<10? '0':'' %><%= sale.date.getHours() %>:<%= sale.date.getMinutes()<10? '0':'' %><%= sale.date.getMinutes() %>
                <p> Ukupno: <%= total %>KM </p>
                <% 
                    totalDan += total;
                %>
                </p>
                <p>Radnja: <%= sale.store.name %> </p>
                <a href="/stores/<%= sale.store._id %>/sales/<%= sale._id %>">Pogledaj prodaju</a>
                <span class="p-2 badge bg-primary rounded-pill">Prodao: <%= sale.author.username %> </span>
            </li>
            <% }} %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h5>Ukupno za dan: <%= totalDan %>KM </h5>
            </li>
        </ul>
        <br>
        <hr>
        <br>
        <% }} %>

        <a href="/sales">Pogledaj sve prodaje</a>
    </div>
</div>