<% layout('/layouts/boilerplate') %>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">Odaberi datum za provjeru rada svih radnji</h3>
        <div class="col-md-6 offset-md-3 mb-5 mt-2">
            <form action="/sales/allstores" method="GET" novalidate class="validated-form">

                <div class="mb-3">
                    <label class="form-label" for="date">Datum</label>
                    <input class="form-control" type="date" id="date" name="date" required>
                    <div class="valid-feedback">
                        Izgleda dobro!
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Provjeri</button>
                </div>
            </form>
        </div>
        <h3 class="text-align">Prodaje za prošlih 7 dana u mjesecu
            <%= date.toLocaleString('default', { month: 'long' }); %> </h3>
        <hr>
        <% for(let i=0; i<7; i++){ 
            let totalDan = 0;
            %>
        <% if(date.getDate()-i>0){ %>
        <h4 class="mt-4 mb-4">Prodaje na dan <%= date.getDate()-i %>.
            <%= date.toLocaleString('default', { month: 'long' }); %> </h4>
        <ul class="list-group">
            <% for(let sale of sales.reverse()){ %>
            <% if(sale.date.getFullYear() === date.getFullYear()
                && sale.date.getMonth() === date.getMonth()
                && sale.date.getDate() === date.getDate()-i
                ){ %>
            <% 
                    let total = 0;
                    for(let item of sale.products){
                        total = total + parseInt(item.price)*parseInt(item.quantity);
                    };
                    %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p class="mr-3">Vrijeme:
                    <%= sale.date.getHours()<10? '0':'' %><%= sale.date.getHours() %>:<%= sale.date.getMinutes()<10? '0':'' %><%= sale.date.getMinutes() %>
                    Prodao: <%= sale.author.username %>
                </p>
                <p class="mr-3"> Ukupno: <%= total %>KM </p>
                <% 
                    totalDan += total;
                %>
                </p>
                <p class="mr-3">Radnja: <%= sale.store.name %> </p>
                <a class="ml-3" href="/stores/<%= sale.store._id %>/sales/<%= sale._id %>">Pogledaj prodaju</a>
            </li>
            <% }} %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h5>Ukupno za dan: <%= totalDan %>KM </h5>
            </li>
        </ul>
        <br>
        <hr>
        <br>
        <% }} %>

        <a href="/sales">Pogledaj sve prodaje</a>
    </div>
</div>