<% layout('/layouts/boilerplate') %>


<div class="row">
    <h2>
        <h5 class="card-title">Sve prodaje</h5>
    </h2>
    <div class="col-12">
        <ul class="list-group">
            <% let totalAll = 0 %>
            <% for(let sale of sales.reverse()){ %>
            <% 
                    let total = 0;
                    for(let item of sale.products){
                        total = total + parseInt(item.price)*parseInt(item.quantity);
                    };
                    %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p class="mr-3">Vrijeme:
                    <%= sale.date.getHours()<10? '0':'' %><%= sale.date.getHours() %>:<%= sale.date.getMinutes()<10? '0':'' %><%= sale.date.getMinutes() %>
                    Prodao: <%= sale.author.username %>
                </p>
                <p class="mr-3"> Ukupno: <%= total %>KM </p>
                <% totalAll += total; %>
                </p>
                <p class="mr-3">Radnja: <%= sale.store.name %> </p>
                <a class="ml-3" href="/stores/<%= sale.store._id %>/sales/<%= sale._id %>">Pogledaj prodaju</a>
            </li>
            <% } %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h5>Ukupno: <%= totalAll %>KM </h5>
            </li>
        </ul>
    </div>
</div>