<% layout('/layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Dodaj narudžbu</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/orders" method="POST" novalidate class="validated-form">

            <div class="mb-3 mt-4 form-group">
                <select class="form-select" aria-label="Odaberi radnju" name="radnja">
                    <option selected disabled>Odaberi radnju</option>
                    <% for(let radnja of stores){ %>
                    <% if(radnja.storeType === 'store'){ %>
                    <option value="<%= radnja._id %>"><%= radnja.name %>
                    </option>
                    <% }} %>
                </select>
            </div>

            <% for(let product of products){ %>
            <div class="mb-3 form-group row">
                <label class="col-sm-6 col-form-label" for="qty-<%= product._id%>"><%= product.name %>
                    <span class="text-muted">
                        Cijena: <%= product.price  %>
                    </span> </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="qty-<%= product._id%>" placeholder="Unesi količinu"
                        name="product[<%= product._id %>]">
                </div>
            </div>
            <% } %>

            <div class="mb-3">
                <label class="form-label" for="date">Datum narudžbe</label>
                <input class="form-control" type="date" id="date" name="date">
                <div class="valid-feedback">
                    Izgleda dobro!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="napomena">Neka posebna napomena</label>
                <textarea class="form-control" type="text" id="napomena" name="napomena"></textarea>
                <div class="valid-feedback">
                    Izgleda dobro!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Dodaj narudžbu</button>
            </div>
        </form>
        <a href="/orders">Vrati se na narudžbe</a>
    </div>
</div>